@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Chakra+Petch:wght@300;400;500;600;700&family=Itim&family=Lateef&family=PT+Sans&family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../img/planet.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-family: 'Chakra Petch', sans-serif;
}

.header a {
    color: #ccc;
}

.menu  {
    display: flex;
    gap: 50px;
    
}
.menu li {
    font-size: 24px;
    text-transform: uppercase;
}

.first-section {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 380px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Chakra Petch', sans-serif;
    color: #000;
}

.content{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content p {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Capriola', sans-serif;
    color: #ccc;
}

.button-section {
    margin-top: 40px;
}

.button-section {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #ccc;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    cursor: pointer;
}
   
.button-section:hover {
    animation: gradient 3s infinite;
   }
   
.button-section:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }

.section-main {
    height: 900px;
    background-color: #ccc;
}
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-form h3 {
   margin-top: 20px;
   font-size: 24px;
   letter-spacing: 1px;
   font-family: 'Lateef', cursive;
}

.form {
    display: flex;
    margin-top: 20px;
}

.input-date{
    height: 30px;
    width: 140px;
    border-radius: 10px 0 0;
    border: 1px solid #0E3B93 ;
    font-size: 18px;
    padding: 5px 5px;
    cursor: pointer;
}

.button-form {
    width: 45px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 0 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #0E3B93;
    color: #fff;
}

.div-info {
    margin-top: 10px;
    height: 650px;
}
.div-info .image {
    width: 550px;
    height: 350px;
    border-radius: 8px;
    display: none;
    margin-bottom: 20px;
}

.iframa-video {
    border: none;
    width: 550px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-info .title {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    margin: 20px 0;
}
.container-info .text {
    margin-top: 5px;
    width: 60%;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    
}